@media all and (min-width: 300px)  {


body {
	background-color: grey;
	text-align: center;
}
.box {
	width: 400px;
	height: 400px;
	background-color: aqua;
}

}  /*mobile base styles end */

@media all and (min-width: 700)  {

body {
	background-color: blue;
}

}  /*tablet base styles end */

@media all and (min-width: 992)  {

body {
	background-color: green;
}

}  /*desktop base styles end */

