
$suorange: #d44500;
@import 'colors';

body {
  background-color: $suorange;
}
nav {
 ul {
    background-color: white;
  }
 li { display: inline-block; 
  }
 a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
@mixin border-radius($radius) {
    border-radius: $radius;
}
@mixin boxPackage {
	height: 500px;
	width: 400px;
	background-color: $red;
}
.box { 
	@include border-radius(10px);
	background-color: $violet;
	@include boxPackage(); 
}
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  width: 500px;
  height: 500px;
  background-color: white;
}
.success {
  @extend .message;
  background-color: $green;
}
.error {
  @extend .message;
  background-color: $red;
}
.warning {
  @extend .message;
  background-color: $yellow;
}